<aside>
    <div>
        <h3>Buscar</h3>
        
    </div>
    <div id="categorias">
        <h3>Categorias</h3>
        @await Component.InvokeAsync("ListaCategorias")
    </div>
    <div id="autores">
        <h3>Autores</h3>
        <!-- aqui serão exibidas links para os autores do blog -->
    </div>
</aside>
