<aside>
    <h2>Adminstracao</h2>
    <p>Ola, admin!</p>
    <button>Sair</button>
    <div>
        <ul>
            <li>@Html.ActionLink("Posts","Index","Post")</li>
        </ul>
    </div>
</aside>